:root {
  --bcg-blue-header: #2b3966;
  --accent-green: #49a069;
  --text-color: #ffffff;
  --h-color: #262728;
  --after-element: #dadbdc;
  --facebook: #3a5998;
  --instagram: #c32aa3;
  --youtube: #bb0000;
  --tiktok: #fe004d;
  --white-opac50: #ffffff50;
}
