<section>
    <footer>
        <!-- <h2>Footer</h2> -->
        <div>
            <svg></svg>
            <svg></svg>
        </div>
        
        <p>&copy Oksy-G, 2021</p>

        <div>
            <h3>Menu</h3>
            <ul>
                <li>
                    <a href="#">Products</a>
                </li>
                <li>
                    <a href="#">Restore Your Microbiome</a>
                </li>
                <li>
                    <a href="#">Health Issues</a>
                </li>
                <li>
                    <a href="#">FAQ</a>
                </li>
                <li>
                    <a href="#">Help and Support</a>
                </li>
                <li>
                    <a href="#">Consulting/Coaching</a>
                </li>
            </ul>
        </div>

        <div>
            <h3>Products</h3>
            <ul>
                <li>
                    <a href="#">Goat Milk Kefir – Plain</a>
                </li>
                <li>
                    <a href="#">Goat Milk Kefir – Vanilla</a>
                </li>
                <li>
                    <a href="#">Goat Kefi-Meal – Chia seeds</a>
                </li>
                <li>
                    <a href="#">Goat Kefi- Meal – Flax seeds</a>
                </li>
                <li>
                    <a href="#">Oksy-G measure glass</a>
                </li>
            </ul>
        </div>

        <div>
            <h3>SOCIAL MEDIA</h3>
            <ul>
                <li>
                    <a href="#">
                        <svg></svg>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <svg></svg>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <svg></svg>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <svg></svg>
                    </a>
                </li>
            </ul>
        </div>
    </footer>
</section>