<header class="header">
    <div class="logo">
           <a href="">
                <svg class="logo__svg">
                    <use href='./images/symbol-defs.svg#icon-logo1'></use>
                </svg></a> 
       
        
            <a href="">
                <svg class="logo__text" width='131.44' height='40'>
                    <use href='./images/symbol-defs.svg#icon-logo2'></use>
                </svg></a>
    </div>

    <nav class="navigation">
        <ul>
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Products</a>
            </li>
            <li>
                <a href="#">Restore Your Microbiome</a>
            </li>
            <li>
                <a href="#">Health Issues</a>
            </li>
            <li>
                <a href="#">FAQ</a>
            </li>
            <li>
                <a href="#">Help and Support</a>
            </li>
            <li>
                <a href="#">Consulting/Coaching</a>
            </li>
        </ul>
    </nav>

    <div>
    <a href="#">
        <svg width='20' height='20'>
        <use href='./images/symbol-defs.svg#icon-shopping-cart'></use>
        </svg>
    </a>
    <button class="call-btn" type="button">Call back</button>
    </div>
</header>