<header class="header">
    <div class="logo">
           <a href="">
                <svg class="logo__svg" >
                    <use href='./images/symbol-defs.svg#icon-logo'></use>
                </svg></a> 
    </div>

    <nav class="navigation">
        <ul>
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Products</a>
            </li>
            <li>
                <a href="#">Restore Your Microbiome</a>
            </li>
            <li>
                <a href="#">Health Issues</a>
            </li>
            <li>
                <a href="#">FAQ</a>
            </li>
            <li>
                <a href="#">Help and Support</a>
            </li>
            <li>
                <a href="#">Consulting/Coaching</a>
            </li>
        </ul>
    </nav>

    <div>
        <div class="header-list">
    <a href="#" class="header-list__link">
        <svg class="header-list__svg">
        <use href='./images/symbol-defs.svg#icon-shopping-cart'></use>
        </svg>
    </a>
    <svg width='30' height='30'>
        <use href='./images/symbol-defs.svg#icon-menu'></use>
    </svg>
        </div>

    <button class="call-btn" type="button">Call back</button>
    </div>
</header>