<div>
    <ul>
        <li>
           <a href=""><svg></svg></a> 
        </li>
        <li>
            <a href=""><svg></svg></a>
        </li>
    </ul>

    <nav>
        <ul>
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Products</a>
            </li>
            <li>
                <a href="#">Restore Your Microbiome</a>
            </li>
            <li>
                <a href="#">Health Issues</a>
            </li>
            <li>
                <a href="#">FAQ</a>
            </li>
            <li>
                <a href="#">Help and Support</a>
            </li>
            <li>
                <a href="#">Consulting/Coaching</a>
            </li>
        </ul>
    </nav>

    <div>
    <a href="#">
        <svg></svg>
    </a>
    <button type="button">Call back</button>
    </div>
</div>