<header>
    
        <ul>
            <li>
                <a href="#">
                    <svg></svg>
                </a>
            </li>
            <li>
                <a href="#">
                    <svg></svg>
                </a>
            </li>
            <li>
                <a href="#">
                    <svg></svg>
                </a>
            </li>
            <li>
                <a href="#">
                    <svg></svg>
                </a>
            </li>
        </ul>
        
        <ul>
            <li>
                <svg>
                    
                </svg>
                <a href="#">
                    92 Street St, New Yoark, NY 10013
                </a>
            </li>
            <li>
                <svg></svg>
                <a href="tel:+1800235958556">
                    +1 800 235 958 556
                </a>
            </li>
        </ul>
</header>